<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53971/Calculator.asmx" binding="basicHttpBinding"
                bindingConfiguration="CalculatorSoap" contract="CalculatorReference.CalculatorSoap"
                name="CalculatorSoap" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SimpleCalculator.Service1Behavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="SimpleCalculator.CalculatorServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SimpleCalculator.Service1Behavior"
                name="SimpleCalculator.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="SimpleCalculator.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimpleCalculator/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="SimpleCalculator.CalculatorServiceBehavior"
                name="SimpleCalculator.CalculatorService">
                <endpoint address="" binding="basicHttpBinding" contract="SimpleCalculator.ICalculatorService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SimpleCalculator/CalculatorService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
